{% extends 'base.html' %}
{% block container %}
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background: url('./static/images/img_title.jpg'); background-position: center center">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">Для тех, кого отвлекают дома</p>
      <p class="mt-5 w-50 mx-auto">Лучшие направления,где никто не будет вам мешать сидеть на берегу и изучать программирование, дизайн, разработку игр и управление продуктами</p>
    </section>
    <!-- CARDS -->
    {% include 'cards.html' %}
{% endblock %}